*{
    /* margin: 0;
    padding: 0; */

}

/* top-banner :start */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.wrapper{
    display: flex;
    padding-bottom: 100px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    padding: 20px 30px 10px 30px ;
}
h1{
    font-size: 60px;
}
.color{
    color: orange
}
.half h3{
    font-weight: 700;
}
.half a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
}
.half img{
    width: 100%;
/* top-banner :end */
/* 2nd-banner :start */
}
.scecond-banner{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    padding-bottom: 70px;
}
/* 2nd-banner :end */
/* last banaer star */
.banner-h4{
color: orange;
}
h2{
    font-size: 40px;
}
.box-model{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 25%;

}
.Experiences-area{
    width: 40%;
    margin-right:5%;
    margin-left:5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow:10px 10px 40px gray;
    
}
#border-box-1{
    border-left: 8px solid red;
}
#border-box-2{
    border-left: 8px solid blue;
}
/* last banaer end */
/* footer */
footer p {
    text-align: center;
}
/* footer */
 
